﻿@model VirtualWiki.Models.Login
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.LabelFor(m => m.Identifier)
    @Html.TextBoxFor(m => m.Identifier)
    @Html.ValidationMessageFor(m => m.Identifier)
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    <label>
        @Html.CheckBoxFor(m => m.Remember)
        @Html.LabelFor(m => m.Remember)
    </label>
    <br />
    <input type="submit" value="Log in" />
}

